<form class="form-horizontal" action="<%= model_path @resource.id %>" method="post">
<% @fields.each do |field| %>
  <%= present @resource, field, target: :editor if @resource.writable? current_user, field %>
<% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"><%= t "Submit" %></button>
    </div>
  </div>
</form>
